

.header{
    background: #F1FBFF  ;
}
.image{
    display: inline-block;
    font-size: 28px;
    font-family: cursive;
    margin-bottom: 35px;
}
.chatter{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}